#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a imapsync instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=imapsync server
#
# Start the session of rootless modules after Redis
#

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/imapsync.pid %t/imapsync.ctr-id
ExecStartPre=mkdir -vp %S/state/imapsync
ExecStartPre=mkdir -vp %S/state/cron
ExecStartPre=runagent reveal-master-secret
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/imapsync.pid \
    --cidfile=%t/imapsync.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --env MAIL_HOST=${MAIL_HOST} \
    --volume ./imapsync:/etc/imapsync:z \
    --volume ./cron:/etc/cron.d:z \
    ${IMAPSYNC_BINARY_IMAGE} /usr/sbin/crond -f -m off
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/imapsync.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/imapsync.ctr-id
PIDFile=%t/imapsync.pid
Type=forking

[Install]
WantedBy=default.target
